.footer {
  background-color: #2a1a1a;
  color: #fff;
  padding: 1rem 5%;
  width: 100%;
  box-sizing: border-box;
}

.footer_contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 0.85rem;
}

a {
    color: #fff;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}